.flexRow{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap:wrap;
    
}



.card{
    width: 90%;
    margin-left: 40px;
    padding: 20px;
    background-color: rgb(37, 96, 206);
    justify-content: space-around;
    border-radius: 10px;
    

}


.text{
    justify-content: center;
    justify-items: center;
}