 .nav-menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;  
    height: 90px;
    background-color: rgb(72, 171, 228);
    top: 0;
    margin-bottom: 45px;
  } 
  
  .nav-link{
    text-decoration: none;
    font-weight:400;
    font-size: 1.15em;
    color:rgb(0, 0, 0)
  }
  
  
  .nav-link:hover{
    font-weight: 600;
    color:rgb(146, 35, 96)
  }