 
  .nav-link{
    
    text-decoration: none;
    font-weight:400;
    font-size: 1.15em;
    color:rgb(0, 0, 0)
  }
  
  
  .nav-link:hover{
    font-weight: 600;
    color:rgb(146, 35, 96)
  }
ul{
  text-decoration: none;
  list-style: none;
}
nav{
  display: flex;
  flex-wrap:wrap;
}

.login{
  width: 40%;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 400px;
  display: flex;
  justify-content:space-evenly;
}